<div id="todoapp">
  <div class="header">
    <h1>Todos</h1>
  </div>

  <form></form>
  <div class="list"></div>
  <div class="stats"></div>
</div>

<footer>
  <p>Created by</p>
  <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>.
  <p>Cleanup, edits: <a href="http://addyosmani.com">Addy Osmani</a>.</p>
  <p>Updates: <a href="http://tbranyen.com">Tim Branyen</a>.</p>
</footer>