#todoapp {
	width: 480px;
	margin: 0 auto 40px;
	background: white;
	padding: 20px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}
#todoapp h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0 30px 0;
	line-height: 1;
}

#create-todo {
	position: relative;
}
#create-todo input {
	width: 466px;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999999;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#create-todo span {
	position: absolute;
	z-index: 999;
	width: 170px;
	left: 50%;
	margin-left: -85px;
}

.list {
	margin-top: 10px;
}
.list li {
	padding: 12px 20px 11px 0;
	position: relative;
	font-size: 24px;
	line-height: 1.1em;
	border-bottom: 1px solid #cccccc;
}
.list li:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
.list li.editing {
	padding: 0;
	border-bottom: 0;
}
.list .editing .display,
.list .edit {
	display: none;
}
.list .editing .edit {
	display: block;
}
.list .editing input {
	width: 444px;
	font-size: 24px;
	font-family: inherit;
	margin: 0;
	line-height: 1.6em;
	border: 0;
	outline: none;
	padding: 10px 7px 0px 27px;
	border: 1px solid #999999;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
.list .check {
	position: relative;
	top: 9px;
	margin: 0 10px 0 7px;
	float: left;
}
.list .done .todo-content {
	text-decoration: line-through;
	color: #777777;
}
.list .todo-destroy {
	position: absolute;
	right: 5px;
	top: 14px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(/assets/img/destroy.png) no-repeat 0 0;
}
.list li:hover .todo-destroy {
	display: block;
}
.list .todo-destroy:hover {
	background-position: 0 -20px;
}

.stats {
	*zoom: 1;
	margin-top: 10px;
	color: #777777;
}
.stats:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
.stats .todo-count {
	float: left;
}
.stats .todo-count .number {
	font-weight: bold;
	color: #333333;
}
.stats .todo-clear {
	float: right;
}
.stats .todo-clear a {
	color: #777777;
	font-size: 12px;
}
.stats .todo-clear a:visited {
	color: #777777;
}
.stats .todo-clear a:hover {
	color: #336699;
}

#instructions {
	width: 520px;
	margin: 10px auto;
	color: #777777;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;
}
#instructions a {
	color: #336699;
}

.layout.todo footer {
	width: 520px;
	margin: 30px auto;
	color: #999;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;
}

.layout.todo footer a {
	color: #888;
}


/*
*  François 'cahnory' Germain
*/
.ui-tooltip, .ui-tooltip-top, .ui-tooltip-right, .ui-tooltip-bottom, .ui-tooltip-left {
	color:#ffffff;
	cursor:normal;
	display:-moz-inline-stack;
	display:inline-block;
	font-size:12px;
	font-family:arial;
	padding:.5em 1em;
	position:relative;
	text-align:center;
	text-shadow:0 -1px 1px #111111;
	-webkit-border-top-left-radius:4px ;
	-webkit-border-top-right-radius:4px ;
	-webkit-border-bottom-right-radius:4px ;
	-webkit-border-bottom-left-radius:4px ;
	-khtml-border-top-left-radius:4px ;
	-khtml-border-top-right-radius:4px ;
	-khtml-border-bottom-right-radius:4px ;
	-khtml-border-bottom-left-radius:4px ;
	-moz-border-radius-topleft:4px ;
	-moz-border-radius-topright:4px ;
	-moz-border-radius-bottomright:4px ;
	-moz-border-radius-bottomleft:4px ;
	border-top-left-radius:4px ;
	border-top-right-radius:4px ;
	border-bottom-right-radius:4px ;
	border-bottom-left-radius:4px ;
	-o-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-moz-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-khtml-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-webkit-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	background-color:#3b3b3b;
	background-image:-moz-linear-gradient(top,#555555,#222222);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#555555),color-stop(1,#222222));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
}
.ui-tooltip:after, .ui-tooltip-top:after, .ui-tooltip-right:after, .ui-tooltip-bottom:after, .ui-tooltip-left:after {
	content:"\25B8";
	display:block;
	font-size:2em;
	height:0;
	line-height:0;
	position:absolute;
}
.ui-tooltip:after, .ui-tooltip-bottom:after {
	color:#2a2a2a;
	bottom:0;
	left:1px;
	text-align:center;
	text-shadow:1px 0 2px #000000;
	-o-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-khtml-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	width:100%;
}
.ui-tooltip-top:after {
	bottom:auto;
	color:#4f4f4f;
	left:-2px;
	top:0;
	text-align:center;
	text-shadow:none;
	-o-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-khtml-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	width:100%;
}
.ui-tooltip-right:after {
	color:#222222;
	right:-0.375em;
	top:50%;
	margin-top:-.05em;
	text-shadow:0 1px 2px #000000;
	-o-transform:rotate(0);
	-moz-transform:rotate(0);
	-khtml-transform:rotate(0);
	-webkit-transform:rotate(0);
}
.ui-tooltip-left:after {
	color:#222222;
	left:-0.375em;
	top:50%;
	margin-top:.1em;
	text-shadow:0 -1px 2px #000000;
	-o-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-khtml-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}



/*the following changes require some cleanup and integration with the above.**/

/* line 9 */


/* line 17 */
#todoapp {
	background: white;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
/* line 24 */


/* line 32 */
#todoapp .content #create-todo {
	position: relative;
}
/* line 34 */
#todoapp .content #create-todo input {
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999999;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

/* line 47 */
#todoapp .content #create-todo span {
	position: absolute;
	z-index: 999;
	width: 170px;
	left: 50%;
	margin-left: -85px;
}
/* line 55 */
#todoapp .content ul.list {
	margin-top: 10px;
}
/* line 57 */
#todoapp .content ul.list li {
	padding: 15px 20px 15px 0;
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
	*zoom: 1;
	cursor: move;
}
/* line 22, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#todoapp .content ul.list li:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
/* line 64 */
#todoapp .content ul.list li.editing {
	padding: 0;
	border-bottom: 0;
}
/* line 67 */
#todoapp .content ul.list li.editing .todo-input {
	display: block;
	width: 466px;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999999;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
/* line 79 */
#todoapp .content ul.list li.editing .todo-content {
	display: none;
}
/* line 81 */
#todoapp .content ul.list li.editing .todo-check {
	display: none;
}
/* line 83 */
#todoapp .content ul.list li.editing .todo-destroy {
	display: none !important;
}
/* line 85 */
#todoapp .content ul.list li .todo-input {
	display: none;
}
/* line 87 */
#todoapp .content ul.list li .todo-check {
	position: relative;
	top: 6px;
	margin: 0 10px 0 7px;
	float: left;
}
/* line 93 */
#todoapp .content ul.list li.done .todo-content {
	text-decoration: line-through;
	color: #777777;
}
/* line 96 */
#todoapp .content ul.list li .todo-destroy {
	position: absolute;
	right: 0px;
	top: 16px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
}
/* line 106 */
#todoapp .content ul.list li:hover .todo-destroy {
	display: block;
}
/* line 109 */
#todoapp .stats {
	*zoom: 1;
	margin-top: 10px;
	color: #555555;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #f4fce8;
	border-top: 1px solid #ededed;
	padding: 0 20px;
	line-height: 36px;
}
/* line 22, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#todoapp .stats:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
/* line 118 */
#todoapp .stats .todo-count {
	float: left;
}
/* line 120 */
#todoapp .stats .todo-count .number {
	font-weight: bold;
	color: #555555;
}
/* line 123 */
#todoapp .stats .todo-clear {
	float: right;
}
/* line 125 */
#todoapp .stats .todo-clear a {
	display: block;
	line-height: 20px;
	text-decoration: none;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-o-border-radius: 12px;
	-ms-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.1);
	color: #555555;
	font-size: 11px;
	margin-top: 8px;
	padding: 0 10px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}
/* line 136 */
#todoapp .stats .todo-clear a:hover, #todoapp .stats .todo-clear a:focus {
	background: rgba(0, 0, 0, 0.15);
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}
/* line 139 */
#todoapp .stats .todo-clear a:active {
	position: relative;
	top: 1px;
}
