	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
        <% if (obj.project) { %>
			<a class="brand" href="#">
				<%= obj.project.name %>
			</a>
			<p class="navbar-text pull-right">
				<%= obj.project.description %> : <%= obj.project.version %>
			</p>
		<% } %>
		<% if (obj.items) { %>
            <ul class="nav">
            	<% if (obj.items) { 
            		_.each(obj.items, function (item) {%>
	            		<li><a href="<%= item.url %>"><%= item.title %></a></li>
            	<% })}; %>
            </ul>
        <% } %>
        </div>
      </div>
    </div>